@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
}

#navbar {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: stretch;
    position: fixed;
    animation-name: nav-ani;
    animation-duration: 0.8s;
    transform-origin: top;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@keyframes nav-ani {
    from {transform: scale(1,0);}
    to {transform: scale(1,1);}
}


#navbar a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    padding: 0 30px;
}

#navbar a:hover {
    font-size: 1.2em;
    background-color: #f0eeee;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: ani-main;
    animation-duration: 1.2s;
    align-items: center;
    background-color: #e8e8e8;
}

/* Home Page */

main #home1 {
    display: flex;
    justify-content: center;
    height: 620px;

}

main #text-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#text-main #judul {
    color: black;
    font-size: 1.1em;
}

#text-main #judul a{
    display: flex;
    padding-top: 10px;
    color: black;
}

#text-main #judul a:hover {
    color: rgb(73, 73, 73);

}

main #picture-main {
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column-reverse;
}

#picture-main img{
    max-height: 100%;
}

/* Personal Page */

main #personal-1 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #d6d6d6;
}

main #personal-1 #p1-pic {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #personal-1 #p1-pic img{
    width: 90%;
    height: auto;


}

main #personal-1 #p1-text {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 50px 80px;
    width: 70%;
    border-bottom-left-radius: 100px;
    background-color: #e8e8e8;
    text-align: justify;

}

main #personal-1 #p1-text .p1-text-isi {
    margin-bottom: 30px;
}

/* Hobby Page */

main #hobby-1 {
    width: 100%;
    padding-bottom: 30px;
}

main #hobby-1 #hobby-pic-pc {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

main #hobby-1 #hobby-pic-mobile {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

main #hobby-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

main #hobby-3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;

    
}

main #hobby-3 .hobi {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

main #hobby-3 .hobi svg {
    height: 110px;
    padding-bottom: 20px;
    width: auto;
}

main #hobby-4 {
    margin-bottom: 30px;
}

main #hobby-4 * {
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 700px) {

    body {
        margin-top: 50px;
    }

    /* Home Page */
    main #picture-main {
        width: 50%;
    
        display: none;
        justify-content: center;
    }

    /* Personal Page */
    main #personal-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #d6d6d6;
    }

    main #personal-1 #p1-pic {
        padding-top: 20px;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        background-color: #e8e8e8;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        align-items: center;
    }

    main #personal-1 #p1-pic img{
        width: 80%;
        height: auto;
    }

    main #personal-1 #p1-text {
        height: 100%;
        border-bottom-left-radius: 100px;
        background-color: #d6d6d6;
        text-align: justify;
        padding: 20px 2px;
    }

    /* Hobby Page */
    main #hobby-1 #hobby-pic-mobile {
        display: block;
    }
    main #hobby-1 #hobby-pic-pc {
        display: none;
    }

    /* Navbar */
    #navbar {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        justify-content: stretch;
        align-items: stretch;
        height: 100px;
        position: absolute;
        top: 0;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    #navbar a{
        display: block;
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.1em;
        color: black;
        padding: 5px 0px;
    }
  }

footer {
    padding-top: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer #contact-me {
    padding-bottom: 40px;
}

footer .form-parent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 70%;
    padding-bottom: 60px;
}

.form-parent .form {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin-bottom: 20px;
    height: 50px;
    border: none;
    border-bottom: 2px solid #cbcbcb;
    resize: vertical;
    outline: none;
}

.form-parent #ftextarea {
    height: 120px;
}

.form-parent .form:focus{
    border: none;
    border-bottom: 2px solid #797979;

}

.form-parent #form-button {
    align-self: center;
    font-weight: 550;
    font-size: 2.5vmin;
    height: 50px;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #e2e2e2;
    
    border-radius: 25px;
}

.form-parent #form-button:hover {
    background-color: #cfcece;
    cursor: pointer;
}

#sosmed-ico {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#social-media {
    padding-bottom: 30px;
}

#sosmed-ico .fa {
    font-size: 8vmin;
    text-align: center;
    text-decoration: none;
    margin: 5px 2.5vmin;
    color: black;
  }

#sosmed-ico .fa:hover {
    color: #7d7d7d;
    font-size: 11vmin;
    transition: 0.5s;
}

footer #cpr {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40px;
}